.carousel {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.carousel-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item.active {
    opacity: 1;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    height: 15px;
    display: flex;
    align-items: center;
}

.indicator {
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: width, height 0.3s;
}

.indicator.active {
    background-color: white;
}
