.carousel {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.carousel-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item.active {
    opacity: 1;
}

.carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    height: 15px;
    display: flex;
    align-items: center;
    z-index: 11;
}

.indicator {
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    background-color: #3a322d;
    cursor: pointer;
    transition: scale 0.3s;
    flex: 0 0 auto;
    scale: 0.7;
    border: 2px solid #fdfff5;
}

.indicator.active {
    background-color: #fdfff5;
    scale: 1;
    border: 2px solid #3a322d;
}

.indicator.active + .indicator,
.indicator:has(+ .indicator.active) {
    scale: 0.8;
}
