.wholeNavbar {
    width: 100%;
}

.NavBar {
    height: auto;
    width: 100%;
}

.container {
    position: relative;
    color: #3a322d;
}

.title {
    margin-left: 2rem;
}

.menu {
    margin-right: 2rem;
}

.navbar-content-container {
    position: absolute;
    top: 10%;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

Link {
    text-decoration: none;
    color: #3a322d;
}